.author {
  margin-bottom: 60px;
  text-align: center;
  &-img {
    border-radius: 50%;
    display: block;
    height: 130px;
    margin: 0 auto 30px;
    width: 130px;
  }
  &-profile {
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }
}