.pickup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 150px;
  &-box {
    width: 32%;
  }
  &-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 10px 0 15px 0;
  }
  &-img {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding-top: 140px;
    &-box {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}